<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

   <appSettings>
      <add key="Endpoint" value="https://northeurope.api.cognitive.microsoft.com/face/v1.0" />
      <add key="Key1" value="7b5eeb798a6b46e18fc3250712fb3a62" />
      <add key="Key2" value="01a1604b07fe44319c7fa6a115b57e0a" />
      <add key="PersonGroupBaseFolder" value="persongroups" />
   </appSettings>
</configuration>