<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/c5997e9e-2457-466e-be9d-bc458cf4643b/resourcegroups/ResourceGroup/providers/Microsoft.Web/sites/WhosThatAPI</ResourceId>
    <ResourceGroup>ResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://whosthatapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>whosthatapi.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>WhosThatAPI</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$WhosThatAPI</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="WhosThatDatabase.Context.DatabaseContext" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:whatsthat.database.windows.net,1433;Initial Catalog=whosthat_db;User ID=WhatsThatAdmin@whatsthat;Password=AdminPassword_" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="WhosThatDatabase.Context.DatabaseContext, WhosThatDatabase" Origin="Convention" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="WhosThatDatabase.Context.DatabaseContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:whatsthat.database.windows.net,1433;Initial Catalog=whosthat_db;User ID=WhatsThatAdmin@whatsthat;Password=AdminPassword_</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="WhosThatDatabase.Context.DatabaseContext" />
  </ItemGroup>
</Project>